page-login {
#welcome{
		background: color($colors, energy);
		h1{
			font-size: 52px;
			margin-top: 50px;
		}
	}
	 ion-card.card{
	box-shadow: none;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;}

.item{
	margin-bottom: 10px;
	background: rgba(255,255,255,0);
	border: medium none;

}
 

}
