page-home {
#welcome{
		background: color($colors, energy);
		h1{
			font-size: 52px;
			margin-top: 50px;
		}
		 ion-card.card{
	box-shadow: none;
	background: rgba(0,0,0,0);
	border-radius: 5px;}

	}

}
